/*Stylesheet Tictactoe*/

body {
  font-family: 'Dosis', sans-serif;
  color: rgb(190, 186, 183);
  text-align: center;
  font-size: 100%;
  /*background ;*/
  background-size: 300% 300%;
}
/*
added a random message
*/

}

h1, h2, h3, h4, h5, h6 {
  font-family: "Dosis", sans-serif;
  letter-spacing: 0.1rem;
}

body .container{
  max-width: 500px;
  margin: 0 auto;
  padding: 3rem 1rem;
}

h1 {
  color: #27D4B5;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 0.2rem;
}

h5 {
  color: rgb(10, 147, 126);
  font-size: 200%;
  margin: -10px;
}

.info {
  color: rgb(10, 147, 126);
  margin-bottom: 0;
}

.round {
  position: relative;
  display: block;
  margin: 2em 0;
  background: none;
  text-align: center;
}

.round:after {
  display: block;
  padding-bottom: 100%;
  width: 100%;
  height: 0;
  border-radius: 50%;
  content: "";
}

.round__inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.round__wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

.round__content {
  display: table-cell;
  padding: 1em;
  vertical-align: middle;
}

.grid {
  font-size: 0;
  margin-top: 1.4rem;
}

.box {
  border: 1px solid #e5e5e5;
  width: 30.6666666667%;
  padding: 0;
  display: inline-block;
  position: relative;
}

.box:hover {
  cursor: pointer;
}

.box:hover:after, .box:active:after {
  background-color: #e5e5e5;
}
.box:after, .box:focus:after {
  content: "";
  display: block;
  padding-bottom: 100%;
  transition: all .5s ease-in-out;
}

.box:nth-child(1){
  border-top: none;
  border-left: none;
}

.box:nth-child(2){
  border-top: none;
}

.box:nth-child(3){
  border-top: none;
  border-right: none;
}

.box:nth-child(4){
  border-left: none;
}

.box:nth-child(6){
  border-right: none;
}

.box:nth-child(7){
  border-bottom: none;
  border-left: none;
}

.box:nth-child(8){
  border-bottom: none;
}

.box:nth-child(9){
  border-bottom: none;
  border-right: none;
}

.box > .content {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}

.content > i {
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  transition: all .2s ease-in-out;
}

.btn-primary, .btn-primary:focus {
  width: 50%;
  height: 5rem;
  border-radius: 2.5rem;
  border: 2px solid #27D4B5;
  margin: 2rem auto 0 auto;
  background: none;
  color: #27D4B5;
  cursor: pointer;
  padding: 0;
  font-weight: 600;
  font-family: 'Dosis';
  font-size: 1.4rem;
  text-transform: capitalize;
}

.btn-primary:hover, .btn-primary:active {
  background: #27D4B5;
  border: 2px solid #27D4B5;
  color: #f5f5f5;
  transition: all .2s ease-in-out;
}

/* icons */
.circleIcon {
  border-radius: 50%;
  box-shadow: 0 0 0 2px #04D0FF;
  transition: all .5s ease-in-out;
}

.crossIcon {
  display: inline-block;
  overflow: hidden;
  transition: all .5s ease-in-out;
}
.crossIcon::before, .crossIcon::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #FF5169;
}
.crossIcon::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.crossIcon::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.circle:hover, .cross:hover {
  cursor: not-allowed;
}

.circle:hover:after, .circle:active:after, .cross:hover:after, .cross:active:after {
  background: none;
}

.aside {
  postion: relative;
}

input {
  display: none;
  visibility: hidden;
  height: 0;
  margin: 0;
  padding: 0;
}
label {
  display: block;
  padding: 0;
  text-align: center;
  color: #e5e5e5;
  font-size: 1.5rem;
}

label::before {
  content: "+";
  vertical-align: text-top;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 3px;
  background: none;
}

#expand {
  height: 0px;
  overflow: hidden;
  transition: height 0.5s;
}

#toggle:checked ~ #expand {
  height: 100%;
}
#toggle:checked ~ label::before {
  content: "x";
}

@media (min-width: 768px) {
  label {
    display: none;
    visibility: hidden;
  }

  #expand {
    height: 100%;
    overflow: visible;
  }
  .hidden-lg {
    visibility: hidden;
  }
}

@media (max-width: 768px) {
  .hidden-md {
    visibility: hidden;
  }
}

.scoreboard {
  border: 2px solid #27D4B5;
  border-radius: 8px;
  display: block;
  padding: 1.4rem;
  color: #e5e5e5;
  margin-top: 2rem;
}

.scoreboard > div {
  width: 48%;
  display: inline-block;
}

.player-score-1 {
  color: #282829;
}

.player-score-2 {
  color: #8b8d8e;
}
